.footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #586069;
  border-top: 1px solid #eaecef;
}
@media (max-width: $screen-sm) {
  .footer {
    padding: 15px;
    color: #959da5;
    text-align: center;
  }
}
.footer-social-link {
  margin: 0 0 0 -10px;
  padding: 0;
  list-style: none;
  float: left;
}
@media (max-width: $screen-sm) {
  .footer-social-link {
    float: none;
  }
}
.footer-social-link li {
  display: inline-block;
  line-height: 16px;
  margin-left: 10px;
}
.footer-theme-info {
  float: right;
}
@media (max-width: $screen-sm) {
  .footer-theme-info {
    float: none;
  }
}
.footer-logo {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -12px;
  font-size: 24px;
  color: #c6cbd1;
  font-size: 28px;
}
.footer-logo:link,
.footer-logo:visited {
  color: #c6cbd1;
}
.footer-logo:hover {
  color: #959da5;
}
@media (max-width: $screen-sm) {
  .footer-logo {
    margin: 0;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: 37px;
  }
}
