* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-width: 1020px;
  word-wrap: break-word;
}
@media (max-width: 414px) {
  body {
    width: 100%;
    min-width: 100%;
    background-color: #fafbfc;
  }
}
a,
a:link,
a:visited {
  color: #0366d6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}
.clearfix::after {
  clear: both;
}
.width-full {
  width: 100% !important;
}
.container {
  width: 980px;
  margin: 0 auto;
}
.container::before,
.container::after {
  display: table;
  content: "";
}
.container::after {
  clear: both;
}
@media (max-width: 414px) {
  .container {
    width: 100%;
  }
}
.container-lg {
  max-width: 1012px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 24px auto 0 auto;
}
.container-lg::before,
.container-lg::after {
  display: table;
  content: "";
}
.container-lg::after {
  clear: both;
}
@media (max-width: 414px) {
  .container-lg {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.list-none {
  list-style: none;
}
.col-3,
.col-9 {
  float: left;
}
.col-3 {
  width: 25%;
}
.col-9 {
  width: 75%;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 414px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 414px) {
  .desktop-only {
    display: none;
  }
}
.navbar-wrapper {
  position: relative;
}
.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(255,255,255,0.75);
  background-color: #24292e;
}
.navbar-logo {
  color: #fff !important;
  font-size: 37.32px;
  float: left;
  margin: -13px 15px -15px -2px;
  white-space: nowrap;
}
@media (max-width: 414px) {
  .navbar-logo {
    margin-left: 10px;
  }
}
.navbar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar-nav li {
  float: left;
}
.navbar-nav a {
  display: block;
  padding: 5px 8px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(255,255,255,0.75);
}
.navbar-nav a:hover {
  color: #fff;
  text-decoration: none;
}
.navbar-search {
  width: 300px;
  margin-right: 10px;
  font-size: 13px;
}
.navbar-search-form {
  display: table;
  color: #fff;
  background-color: rgba(255,255,255,0.125);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.navbar-search label {
  display: table-cell;
  width: 1%;
  padding: 0 8px;
  color: rgba(255,255,255,0.75);
  border-right: 1px solid #282e34;
  font-size: inherit;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 28px;
}
.navbar-search label:hover {
  background-color: rgba(255,255,255,0.12);
  color: #fff;
}
.navbar-search input {
  display: table-cell;
  width: 100%;
  border: none;
  min-height: 30px;
  background: none;
  padding: 0 8px;
  vertical-align: middle;
  outline: none;
  color: inherit;
  font-size: inherit;
}
.navbar-search input:focus {
  outline-width: 0;
}
.user-nav a {
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 0 -10px 0;
}
.user-nav a:hover {
  color: #fff;
}
.user-nav li:last-child {
  margin-right: -10px;
}
.user-nav-logo a {
  line-height: 20px;
}
.user-nav-logo img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -3px;
}
.user-nav-notification {
  position: relative;
}
.user-nav-unread {
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 2;
  width: 14px;
  height: 14px;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-color: #24292e;
  border-image: initial;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.header-wrapper {
  background: #fafbfc;
  position: relative;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e4e8;
}
.header-site-detail {
  margin-bottom: 20px;
}
.header-title {
  position: relative;
  float: left;
  max-width: 635px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 26px;
  color: #586069;
  margin: 0 0 0 -18px;
}
.header-toolbar {
  margin: 0 -11px 0 0;
  float: right;
  list-style: none;
  padding: 0;
  border-color: rgba(27,31,35,0.35);
}
.header-toolbar li {
  float: left;
  margin: 0 10px 0 0;
  font-size: 11px;
  color: #24292e;
  list-style-type: none;
}
.header-toolbar a {
  line-height: 20px;
  color: #24292e;
  position: relative;
  display: inline-block;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgba(27,31,35,0.2);
}
.header-toolbar a:hover {
  text-decoration: none;
}
.header-toolbar-left {
  margin-right: -5px;
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.header-toolbar-left:hover {
  background-color: #e6ebf1;
  background-image: -webkit-linear-gradient(270deg, #f0f3f6 0%, #e6ebf1 90%);
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: 0 -0.5em;
}
.header-toolbar-right {
  font-weight: 600;
  line-height: 20px;
  background-color: #fff;
  border-left: 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.header-toolbar-right:hover {
  color: #0366d6;
}
.header-tab {
  float: left;
  padding: 7px 15px 8px;
  color: #586069;
  white-space: nowrap;
  cursor: default;
  border-top: 3px solid transparent;
}
.header-tab:hover {
  color: #24292e;
}
.header-tab-selected {
  color: #24292e;
  border-top: 3px solid #e36209;
  border-left: 1px solid #e1e4e8;
  border-right: 1px solid #e1e4e8;
  background-color: #fff;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.header-tab-wrapper {
  position: relative;
  top: 1px;
  margin-top: -5px;
}
figure.highlight {
  margin: 0 0 16px 0;
  padding: 16px;
  font-size: 16px;
  line-height: 1.45;
  background-color: #f6f8fa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  word-wrap: normal;
}
figure.highlight pre {
  margin: 0;
  font-size: 85%;
}
figure.highlight .line {
  height: 20px;
  font-szie: 100%;
  word-break: normal;
}
figure.highlight .gutter {
  display: none;
}
pre {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: normal;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
@media (max-width: 414px) {
  pre {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
  }
}
.highlight {
  display: block;
  background: #fff;
  padding: 0.5em;
  color: #333;
  overflow-x: auto;
}
.highlight .comment,
.highlight .meta {
  color: #969896;
}
.highlight .string,
.highlight .variable,
.highlight .template-variable,
.highlight .strong,
.highlight .emphasis,
.highlight .quote {
  color: #df5000;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .type {
  color: #a71d5d;
}
.highlight .literal,
.highlight .symbol,
.highlight .bullet,
.highlight .attribute {
  color: #0086b3;
}
.highlight .section,
.highlight .name {
  color: #63a35c;
}
.highlight .tag {
  color: #333;
}
.highlight .title,
.highlight .attr,
.highlight .selector-id,
.highlight .selector-class,
.highlight .selector-attr,
.highlight .selector-pseudo {
  color: #795da3;
}
.highlight .addition {
  color: #55a532;
  background-color: #eaffea;
}
.highlight .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.highlight .link {
  text-decoration: underline;
}
.post-container {
  border: 1px solid #dcddde;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 30px;
}
@media (max-width: 414px) {
  .post-container {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-top: none;
  }
}
.post-container >h3 {
  background-color: #f6f8fa;
  margin: 0;
  padding: 10px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #dcddde;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 414px) {
  .post-container >h3 {
    padding: 15px;
  }
}
.post-date {
  font-size: 13px;
  line-height: 20px;
  color: #586069;
  font-weight: normal;
}
.post-content {
  padding: 45px;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}
@media (max-width: 414px) {
  .post-content {
    padding: 15px;
    font-size: 15px;
  }
}
.post-content >*:first-child {
  margin-top: 0 !important;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 16px;
}
.post-content img {
  max-width: 100%;
}
.post-content h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}
.post-content h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}
.post-content h3 {
  font-size: 1.25em;
}
.post-content p {
  margin-top: 0;
  margin-bottom: 16px;
}
.post-content code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f3f3f4;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 85%;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.post-content code::before,
.post-content code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.post-content blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  margin: 0;
}
.post-content >table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.post-content >table tr {
  border-top: 1px solid #c6cbd1;
}
.post-content >table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.post-content >table th,
.post-content >table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.post-content >table th {
  font-weight: 600;
}
.post-content kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}
.footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #586069;
  border-top: 1px solid #eaecef;
}
@media (max-width: 414px) {
  .footer {
    padding: 15px;
    color: #959da5;
    text-align: center;
  }
}
.footer-social-link {
  margin: 0 0 0 -10px;
  padding: 0;
  list-style: none;
  float: left;
}
@media (max-width: 414px) {
  .footer-social-link {
    float: none;
  }
}
.footer-social-link li {
  display: inline-block;
  line-height: 16px;
  margin-left: 10px;
}
.footer-theme-info {
  float: right;
}
@media (max-width: 414px) {
  .footer-theme-info {
    float: none;
  }
}
.footer-logo {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -12px;
  font-size: 24px;
  color: #c6cbd1;
  font-size: 28px;
}
.footer-logo:link,
.footer-logo:visited {
  color: #c6cbd1;
}
.footer-logo:hover {
  color: #959da5;
}
@media (max-width: 414px) {
  .footer-logo {
    margin: 0;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: 37px;
  }
}
@media (max-width: 414px) {
  .calendar-container {
    display: none;
  }
}
.calendar-container h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 8px;
  margint-top: 0;
}
.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
  height: 100%;
  position: relative;
}
.calendar-graph-container {
  margin-bottom: 32px;
  padding: 8px 0;
  border: 1px solid #d1d5da;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.calendar .month {
  fill: #767676;
  font-size: 9px;
}
.calendar .wday {
  fill: #767676;
  font-size: 9px;
}
.calendar-footer {
  padding: 0 16px 4px 16px;
  margin: 4px 16px 0 16px;
  font-size: 11px;
}
.calendar-legend {
  color: #586069;
  float: right;
}
.calendar-legend ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.calendar-legend ul li {
  float: left;
  width: 10px;
  height: 10px;
}
.contribution-list ul {
  list-style: none;
  padding: 0;
}
.svg-tip {
  width: 200px;
  position: absolute;
  z-index: 999;
  padding: 10px;
  color: #bbb;
  text-align: center;
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  white-space: nowrap;
}
.svg-tip strong {
  color: #dfe2e5;
}
.svg-tip:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  margin: 0 0 0 -5px;
  content: " ";
  border: 5px solid transparent;
  border-top-color: rgba(0,0,0,0.8);
}
.day:hover,
.day.active {
  stroke-width: 1px;
  stroke: #000;
  shape-rendering: crispEdges;
}
.category-list-count:before {
  content: ' ';
}
.category-list-count:after {
  content: ' ';
}
.blog-intro {
  width: 25%;
  padding-right: 16px;
  float: left;
}
@media (max-width: 414px) {
  .blog-intro {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
  }
}
.blog-intro .avatar {
  width: 230px;
}
@media (max-width: 414px) {
  .blog-intro .avatar {
    width: 110px;
    display: block;
    float: left;
    margin-right: 15px;
  }
}
@media (max-width: 414px) {
  .blog-intro-user {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.blog-intro .user-detail {
  border-top: 1px solid #eee;
  padding: 16px 0;
  list-style: none;
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}
@media (max-width: 414px) {
  .blog-intro .user-detail {
    padding: 0;
    margin-top: 7px;
    margin-left: -2px;
    border: none;
    font-size: 12px;
    line-height: 1.8;
  }
}
.blog-intro .user-detail li {
  padding-top: 4px;
}
@media (max-width: 414px) {
  .blog-intro .user-detail li {
    padding: 0;
  }
}
.blog-intro .user-detail i {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.blog-intro .social-media {
  border-top: 1px solid #eee;
  padding: 16px 0;
}
.blog-intro .social-media h4 {
  font-size: 16px;
  margin: 0 0 4px 0;
}
.blog-intro .social-media ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.blog-intro .social-media-item {
  float: left;
  margin-right: 5px;
  font-size: 25px;
  width: 35px;
  height: 35px;
  background: #f0f0f0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.blog-intro .social-media-item a {
  line-height: 35px;
}
.blog-intro .social-media-item .fa-github {
  color: #24292e;
}
.blog-intro .social-media-item .fa-weibo {
  color: #e6162d;
}
.blog-intro .social-media-item .fa-linkedin {
  color: #0077b5;
}
.user-name {
  padding: 16px 0;
}
@media (max-width: 414px) {
  .user-name {
    padding: 0;
  }
}
.blog-title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
}
@media (max-width: 414px) {
  .blog-title {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
.blog-author {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}
@media (max-width: 414px) {
  .blog-author {
    margin: 0;
    font-size: 12px;
  }
}
.blog-description {
  margin-bottom: 12px;
  color: #6a737d;
  font-size: 14px;
}
@media (max-width: 414px) {
  .blog-description {
    clear: both;
    font-size: 12px;
    margin: 8px 0 0 0;
  }
}
.blog-detail {
  width: 75%;
  padding-left: 8px;
  float: left;
}
@media (max-width: 414px) {
  .blog-detail {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.blog-detail-nav {
  border-bottom: 1px solid #d1d5da;
}
.blog-detail-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blog-detail-nav ul li {
  float: left;
  padding: 0;
  height: 60px;
  color: #586069;
}
.blog-detail-nav ul li.selected {
  border-bottom: 2px solid #e36209;
}
.blog-detail-nav ul li.selected a,
.blog-detail-nav ul li.selected a:hover,
.blog-detail-nav ul li.selected a:link,
.blog-detail-nav ul li.selected a:visited {
  color: #24292e;
}
.blog-detail-nav ul li a,
.blog-detail-nav ul li a:hover,
.blog-detail-nav ul li a:link,
.blog-detail-nav ul li a:visited {
  text-decoration: none;
  color: #586069;
  padding: 0 20px;
  display: inline-block;
  line-height: 60px;
}
.counter {
  background: #eee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 2px 5px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  font-size: 12px;
}
.right-title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 16px;
}
.user-info {
  padding-right: 16px;
}
.user-info-avatar {
  width: 230px;
  max-height: 230px;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.recent-post {
  list-style: none;
  padding: 0;
  margin: 0 0 24px 0;
}
@media (max-width: 414px) {
  .recent-post {
    width: 100%;
    border: 1px solid #d1d5da;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}
.recent-post-item {
  border: 1px solid #d1d5da;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 354px;
  display: flex;
  padding: 16px;
  margin-bottom: 16px;
  height: 118px;
  float: left;
}
@media (max-width: 414px) {
  .recent-post-item {
    width: 100%;
    float: none;
    border: none;
    height: auto;
    margin: 0;
    padding: 14px;
    border-top: 1px solid #d1d5da;
    padding: 0;
  }
  .recent-post-item:first-child {
    border-top: none;
  }
  .recent-post-item .clearfix {
    width: 100%;
  }
  .recent-post-item .post-title {
    position: relative;
  }
  .recent-post-item .post-title i {
    position: absolute;
    top: 20px;
    left: 14px;
  }
  .recent-post-item .post-title a {
    display: block;
    padding: 14px;
    padding-left: 32px;
  }
}
.recent-post-item:nth-child(odd) {
  margin-right: 5px;
}
@media (max-width: 414px) {
  .recent-post-item:nth-child(odd) {
    magrin: 0;
  }
}
.recent-post-item:nth-child(even) {
  margin-left: 5px;
}
@media (max-width: 414px) {
  .recent-post-item:nth-child(even) {
    margin: 0;
  }
}
.post-title {
  margin: 0;
  line-height: 21px;
  max-width: 325px;
}
@media (max-width: 414px) {
  .post-title {
    white-space: normal;
  }
}
.post-title i {
  padding-right: 5px;
}
.post-description {
  margin: 8px 0 16px 0;
  font-size: 12px;
  color: #586069;
  height: 20px;
  max-width: 325px;
}
.post-info {
  margin: 0;
  color: #586069;
  font-size: 12px;
}
.post-info span {
  margin-right: 16px;
}
.post-info a.category-link {
  color: inherit;
}
.archive-list {
  list-style: none;
  padding: 0;
}
.archive-list-item {
  padding: 24px 0;
  border-bottom: 1px solid #e1e4e8;
}
.archive-list-item h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.archive-list-item p {
  font-size: 14px;
  color: #586069;
  margin: 6px 0 8px 0;
}
.archive-list-item .post-info {
  margin-top: 8px;
  font-size: 12px;
}
.tag-list {
  padding: 4px 0;
  list-style: none;
  margin: 0;
}
.tag-list-item {
  float: left;
  margin: 0 0.5em 0.5em 0;
  padding: 0.3em 0.9em;
  background: #f1f8ff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #0366d6;
  font-size: 12px;
}
.tag-list-item:hover {
  background: #def;
}
.tag-list-count {
  padding-left: 5px;
  font-weight: bold;
}
#google-search {
  display: table-cell;
  width: 100%;
}
#google-search #___gcse_0 input[name="search"] {
  background: none !important;
  color: #fff;
  border: none;
  min-height: 30px;
  background: none;
  padding: 0 8px !important;
  vertical-align: middle;
  outline: none;
  color: inherit;
  font-size: inherit;
  text-indent: 0 !important;
}
#google-search #___gcse_0 input[name="search"]:focus {
  outline-width: 0;
}
#google-search .gsc-control-cse {
  background-color: transparent;
  border: none;
  padding: 0;
}
#google-search .gsc-search-button,
#google-search .gsc-clear-button {
  display: none;
}
#google-search .gsc-branding {
  display: none !important;
}
#google-search .gsc-input {
  padding-right: 0 !important;
}
#google-search .gsc-input-box {
  border: none;
  background: none;
}
#google-search .gsc-input-box-focus {
  box-shadow: none;
}
#google-search .gsib_a {
  padding: 0;
}
#google-search .gsib_b {
  display: none;
}
@media (max-width: 414px) {
  .disqus-container {
    padding: 0 15px;
  }
}
