<!DOCTYPE html>
<html lang="">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>
    Zt_Technology blog
  </title>
  <meta name="description" content="">
  
  <meta name="author" content="ZhangTeng">

  <meta http-equiv="Cache-Control" content="no-transform"/>
  <meta http-equiv="Cache-Control" content="no-siteapp">

  <link rel="icon" type="image/x-icon" href="">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  

  

  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.25-csp/vue.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
</head>

<body id="replica-app">

<nav class="navbar-wrapper">
  <div class="navbar">
    <div class="container clearfix">
      <a href="/" class="navbar-logo"><i class="fa fa-github"></i></a>

      <div class="navbar-search float-left desktop-only">
        <div class="navbar-search-form">
          <label for="gsc-i-id1">This website</label>
          <div id="google-search">
            <gcse:search></gcse:search>
          </div>
        </div>
      </div>

      <ul class="navbar-nav float-left">
        
        <li><a href="/archives">Archives</a></li>
        
        
        <li><a href="/categories">Categories</a></li>
        
        
        <li><a href="/tags">Tags</a></li>
        
        
        <li class="desktop-only"><a href="/atom.xml" target="_blank">RSS</a></li>
        
      </ul>

      <ul class="navbar-nav user-nav float-right desktop-only">
        <li class="user-nav-notification">
          <a><span class="user-nav-unread"></span><i class="fa fa-bell"></i></a>
        </li>
        <li>
          <a><i class="fa fa-plus"></i> <i class="fa fa-caret-down"></i></a>
        </li>
        <li class="user-nav-logo">
          <a><img src="https://octodex.github.com/images/baracktocat.jpg"> <i class="fa fa-caret-down"></i></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-container">
  

<div class="container-lg">
  

<div class="blog-intro">
  <div class="blog-intro-user">
    <img class="avatar" src="https://octodex.github.com/images/baracktocat.jpg">
    <div class="user-name">
      <div class="blog-title">Zt_Technology blog</div>
      <div class="blog-author">ZhangTeng</div>
        <ul class="user-detail mobile-only">
    
    <li>
      <i class="fa fa-link"></i>
      <a href="https://zt-blog.club">https://zt-blog.club</a>
    </li>
  </ul>
    </div>
    <div class="blog-description">
      
    </div>
  </div>

  <ul class="user-detail desktop-only">
    
    <li>
      <i class="fa fa-link"></i>
      <a href="https://zt-blog.club">https://zt-blog.club</a>
    </li>
  </ul>

  <div class="social-media desktop-only">
    <h4>Social Media</h4>
    <ul>
      
    </ul>
  </div>
</div>


  <div class="blog-detail">
    
<nav class="blog-detail-nav desktop-only">
  <ul class="clearfix">
    <li class="selected">
      <a href="/">Overview</a></li>
    <li class="">
      <a href="/archives">Posts <span class="counter">1</span></a>
    </li>
    <li class="">
      <a href="/categories">Categories <span
                class="counter">0</span></a></li>
    <li class="">
      <a href="/tags">Tags <span class="counter">0</span></a></li>
  </ul>
</nav>

    <div class="body-secondary">
      <p class="right-title">Recent post</p>
      <ul class="recent-post clearfix">
        
        <li class="recent-post-item">
          <div class="clearfix">
            <h5 class="post-title text-ellipsis">
              <i class="fa fa-bars"></i>
              <a href="/2018/08/03/hello-world/">Hello World</a>
            </h5>
            <p class="post-description text-ellipsis desktop-only">
               Welcome to  Hexo ! This is your very first post. 
            </p>
            <p class="post-info desktop-only">
              <span>
                
                  <i class="fa fa-folder-open"></i> Uncategorized
                
              </span>
              <span><i class="fa fa-tag"></i> 0 </span>
            </p>
          </div>
        </li>
        
      </ul>
      <div class="calendar-container" id="calendar">
  <div class="calendar">
    <h3>
      {{posts.length}} contributions in the last year
    </h3>
    <div class="calendar-graph-container">
      <div class="calendar-graph">
        <svg width="676" height="104" @mouseout="mouseoverDate=null">
          <g transform="translate(16, 20)">
            <g v-for="week in calendar" :transform="week.transform">
              <rect v-for="day in week.days"
                    :x="day.x"
                    :y="day.y"
                    :fill="day.fill"
                    @click="selectedDate=day.date"
                    @mouseover="mouseoverDate=day.date"
                    :class="{active:selectedDate===day.date}"
                    data-count="{{day.posts.length}}"
                    data-date="{{day.date}}"
                    class="day" width="10" height="10"
              ></rect>
            </g>

            <text v-for="month in monthLabels"
                  :x="month.x"
                  y="-5"
                  class="month">{{month.text}}
            </text>


            <text text-anchor="start" class="wday" dx="-14" dy="8"
                  style="display: none;">S
            </text>
            <text text-anchor="start" class="wday" dx="-14" dy="20">Mon</text>
            <text text-anchor="start" class="wday" dx="-14" dy="32"
                  style="display: none;">T
            </text>
            <text text-anchor="start" class="wday" dx="-14" dy="44">Wed</text>
            <text text-anchor="start" class="wday" dx="-14" dy="57"
                  style="display: none;">T
            </text>
            <text text-anchor="start" class="wday" dx="-14" dy="69">Fri</text>
            <text text-anchor="start" class="wday" dx="-14" dy="81"
                  style="display: none;">S
            </text>
          </g>
        </svg>
        <div class="svg-tip svg-tip-one-line"
             v-bind:style="{ top: svgtip.top, left: svgtip.left, display: svgtip.display}">
          <strong>{{svgtip.text}}</strong> on
          {{moment(mouseoverDate).format('MMM DD, YYYY')}}
        </div>
      </div>
      <div class="calendar-footer clearfix">
      <span>
        <a href="#">Learn how we count contributions.</a>
      </span>
        <div class="calendar-legend">
          <span>Less</span>
          <ul class="legend">
            <li style="background-color: #eee"></li>
            <li style="background-color: #d6e685"></li>
            <li style="background-color: #8cc665"></li>
            <li style="background-color: #44a340"></li>
            <li style="background-color: #1e6823"></li>
          </ul>
          <span>More</span>
        </div>
      </div>
    </div>
  </div>

  <h3>Contribution activity</h3>
  <div class="contribution-list">
    <ul>
      <li v-for="post in posts | filterBy selectedDate in 'date'">
        <a href="{{post.url}}">{{post.title}}
        </a>
        <span>{{post.date}}</span>
      </li>
    </ul>
  </div>
</div>


<script>
  var posts = [{"date":"2018-08-03","title":"Hello World","url":"https://zt-blog.club/2018/08/03/hello-world/"}];
  var today = moment().format('YYYY-MM-DD');
  var oneYearAgo = moment(today).subtract(1, 'years');
  posts = posts.filter(function(post) {
    return new Date(post.date) > oneYearAgo;
  });
  var monthLabels = [];
  var monthName = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  var calendar = getCalendar(posts);

  var dateRange = {
    start: moment(oneYearAgo).format('MMM D, YYYY'),
    end: moment().format('MMM D, YYYY')
  }

  var app = new Vue({
    el: '#calendar',
    data: {
      posts: posts,
      selectedDate: null,
      calendar: calendar,
      dateRange: dateRange,
      mouseoverDate: null,
      moment: moment,
      monthLabels: monthLabels
    },
    created: function() {
      this.selectedDate = 'none';
    },
    methods: {},
    computed: {
      svgtip: function() {
        var date = this.mouseoverDate;
        var display = date ? 'block' : 'none';
        if (date) {
          var coordinator = getIndexByDate(date);
          var x = coordinator[0];
          var y = coordinator[1];
          var len = this.calendar[x].days[y].posts.length;
          var text = len ? len + ' contributions' : 'No contributions';
          var left = coordinator[0] * 12 - 37 + 'px';
          coordinator[1] = coordinator[0] ? coordinator[1] : coordinator[1] + oneYearAgo.day();
          var top = coordinator[1] * 12 + 12 - 32 + 'px';
        }
        return {
          text: text,
          left: left,
          top: top,
          display: display
        }
      }
    }
  });

  function getCalendar(posts) {
    // raw calendar
    var maxCount = 0;
    var tmr = new Date();
    tmr.setDate(tmr.getDate() + 1);
    var tmrStr = tmr.toISOString().slice(0, 10);
    var date = new Date();
    date.setYear(date.getFullYear() - 1); // start date is a year ago;
    var calendar = [];
    while (date.toISOString().slice(0, 10) !== tmrStr) {
      var day = date.getDay();
      if (day === 0 || calendar.length === 0) {
        var x = calendar.length * 13;
        calendar.push({
          transform: 'translate(' + x + ',0)',
          days: []
        })
      }

      calendar[calendar.length - 1].days.push({
        x: 14 - calendar.length,
        y: day * 12,
        date: date.toISOString().slice(0, 10),
        posts: []
      });

      if (day === 0 && date.getDate() < 8) {
        monthLabels.push({
          x: 14 - calendar.length + x,
          text: monthName[date.getMonth() - 1]
        })
      }

      date.setDate(date.getDate() + 1);
    }

    // handle post info
    posts.forEach(function(post) {
      var x = getIndexByDate(post.date)[0];
      var y = getIndexByDate(post.date)[1];

      calendar[x].days[y].posts.push({
        title: post.title,
        url: post.url
      });

      var len = calendar[x].days[y].posts.length;
      maxCount = Math.max(len, maxCount);
    })

    // handle fill color
    calendar.forEach(function(week) {
      week.days.forEach(function(day) {
        day.fill = getColorByLength(day.posts.length, maxCount);
      })
    })

    return calendar;
  }

  function getIndexByDate(date) {
    date = moment(date);
    var firstColumnLen = 7 - oneYearAgo.day();
    var days = date.diff(oneYearAgo, 'days');

    var x = days > firstColumnLen - 1 ? Math.ceil((days - firstColumnLen + 1) / 7) : 0;
    var y = days > firstColumnLen - 1 ? date.day() : date.day() - oneYearAgo.day();
    return [x, y];
  }

  function getColorByLength(len, max) {
    var colors = ['#eee', '#d6e685', '#8cc665', '#44a340', '#1e6823'];
    var colorsLen = colors.length - 1;
    var color = len ? colors[0] : colors[1];
    var interval = max / colorsLen;
    if (max < colorsLen) {
      color = colors[len];
    } else {
      color = colors[Math.ceil(len / interval)];
    }
    return color;
  }

</script>


    </div>
  </div>
</div>

</div>

<div class="footer-wrapper container">
  <footer class="footer clearfix">
    <a href="https://zt-blog.club" class="footer-logo">
      <i class="fa fa-github"></i>
    </a>
    <ul class="footer-social-link">
      <li>© 2018 ZhangTeng</li>
      <li><a href="https://zt-blog.club">Home</a></li>
      
    </ul>
    <div class="footer-theme-info">
      Theme <a href="//github.com/sabrinaluo/hexo-theme-replica">Replica</a>
      by <a href="//github.com/sabrinaluo">Hiitea</a> ❤ Powered by Hexo
    </div>
  </footer>
</div>




<script src="/js/main.js"></script>

</body>
</html>
